<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.camilo.proyectoandroid" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Inicio"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Crear_Equipo"
            android:label="@string/title_activity_crear__equipo" >
        </activity>
        <activity
            android:name=".Equipos_Creados"
            android:label="@string/title_activity_equipos__creados" >
        </activity>
        <activity
            android:name=".Crear_E_Datos"
            android:label="@string/title_activity_crear__e__datos" >
        </activity>
        <activity
            android:name=".Set_date"
            android:label="@string/title_activity_set_date" >
        </activity>
        <activity
            android:name=".Hora"
            android:label="@string/title_activity_hora" >
        </activity>
        <activity
            android:name=".Cancha5"
            android:label="@string/title_activity_cancha5" >
        </activity>
        <activity
            android:name=".Cancha7"
            android:label="@string/title_activity_cancha7" >
        </activity>
        <activity
            android:name=".Cancha9"
            android:label="@string/title_activity_cancha9" >
        </activity>
        <activity
            android:name=".Cancha11"
            android:label="@string/title_activity_cancha11" >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".Modif5"
            android:label="@string/title_activity_modif5" >
        </activity>
    </application>

</manifest>
